<table class="table table-striped table-bordered" style="margin-left:auto;margin-right:auto;">
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Continent</th>
        <th>Surfacearea</th>
        <th>Population</th>
        <th>Capital</th>
      </tr>
      <tr *ngFor="let item of country;">
        <td>{{item.name}}</td>
        <td>{{item.code}}</td>
        <td>{{item.continent}}</td>
        <td>{{item.surfacearea}}</td>
        <td>{{item.population}}</td>
        <td>{{item.capital}}</td>
        <td><a mat-raised-button color="linkcolor" routerLink="." >Edit</a></td>
        <td><a mat-raised-button color="warn" routerLink=".">Delete</a></td>
      </tr>
</table>
